.NewRestaurantForm {
  background-color: #181818;
  height: 100%;
  margin: 0px auto;
  box-sizing: border-box;
  padding: 15px;
}

.NewRestaurantForm .formControl {
  display: flex;
  margin: 15px auto;
  min-width: 0px;
  width: 90%;
}

.NewRestaurantForm #test ::placeholder {
  color: white;
}

.NewRestaurantForm .formControl {
  max-width: 600px;
}

@media screen and (min-width: 600px) {
  .NewRestaurantForm {
    width: 90%;
    padding: 15px 0px;
    margin: 0px auto;
  }
}

@media screen and (min-width: 1200px) {
  .NewRestaurantForm {
    width: 1100px;
    box-sizing: border-box;
  }
}
