.MenuItems {
  width: 100vw;
  height: 100vh;
  background-color: #484848;
  color: white;
}

.MenuItems .spacer {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 16px;
}

.MenuItems .menuBar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.MenuItems a,
.MenuItems a:visited,
.MenuItems a:active {
  text-decoration: none;
  color: white;
}

.MenuItems a:hover {
  text-decoration: underline solid gray 2.5px;
}
.MenuItems ul {
  list-style: none;
  padding-left: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding: 10px 0px;
  margin: 0px;
}

.MenuItems li {
  padding: 5px 20px;
}

@media screen and (min-width: 601px) {
  .MenuItems {
    width: 300px;
    height: auto;
    margin-top: 64px;
    border-radius: 0px 0px 10px 10px;
    margin-left: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .MenuItems .menuBar {
    display: none;
  }

  .MenuItems ul {
    border-bottom: none;
  }
}
